.item {
    @include withauto(90%);
    @include dflex(space-between);
    padding: $padding-m $padding-xxxl;
    border-radius: $border-rad-xxl;
    margin-top: $margin-xl;
    background-color: $color-items;

    &__controls {
        @include dflex();

        &>i {
            color: white;
            margin: 0px $margin-xl;
            padding: 1rem;
            font-size: 1.5rem;

            @media (max-width: 480px){
                margin: 0px;
                padding: 0.5rem;
            }
        }
    }

    &__controls--input {
        clip-path: circle(40% at 50% 50%);
        accent-color: $color-sub-dark;
        width: 50px;
        height: 50px;
        
    }

    &__detail {
        color: white;
    }
}

.checked {

    .item__detail {
        &__title {
            color: #ccc;
            text-decoration: line-through;
        }
    }
    
}